// bootstrap global overrides
$primary: #0057D6;
$dark: #282828;
$secondary: #0c0032;
$body-bg: #F8F9FA;
$light: #fff;

:root {
  --border-color: rgba(0, 0, 0, 0.1);
}

@import "{}/node_modules/bootstrap/scss/bootstrap.scss";

strong {
  font-weight: 500;
}


body {
  padding: 0px;
  margin: 0px;
  font-size: 14px; // default, we use REM sizing below this
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: "Ubuntu", sans-serif;
}

.btn {
  font-weight: 500;
}

.form-label {
  font-weight: 500;
}

.normal-padding {
  padding-top: 30px;
  padding-bottom: 80px;
}

.invalid-feedback {
  display: block;
}

.toast-container {
  .Toastify__close-button {
    color: white;
  }

  .Toastify__toast {
    font-weight: bold;
    border-radius: 4px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
  }

  .Toastify__toast--success {
    background: var(--primary);
  }

  .Toastify__toast--error {
    background: var(--danger);
    color: white;

    .Toastify__close-button {
      color: white;
    }
  }
}

.navbar {
  border-bottom: 1px solid var(--border-color);
}

.form-control-input {
  @extend .form-control;
  border: none;
  background: none;
  height: calc(1.5em + 0.75rem);
}

.list-group-item {
  transition: background-color 0.15s ease-in-out;
}

.list-group-item:focus {
  outline: none;
}

.list-group-item.active {
  z-index: 2;
  color: var(--dark);
  background-color: var(--light);
  border-color: var(--border-color);
}

.fa-check-box {
  display: inline-block;
  border: 2px solid var(--border-color);
  background: var(--light);
  height: 44px;
  width: 44px;
  padding: 6px;
  border-radius: 50%;
  transition: all 0.15s ease-in-out;
  overflow: hidden;
  color: var(--dark);

  &:hover {
    background-color: var(--border-color);
  }

  &.active {
    background-color: var(--border-color);
  }
}

.basic-box {
  border: 1px solid var(--border-color);
  background: #fff;
  border-radius: 4px;
  margin-bottom: 1rem;
  overflow: hidden;
}

.form-control {
  border-color: var(--border-color);
  background-color: var(--light);
}

.badge {
  padding: 4px 8px;
}